<!-- views/foods/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Food</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit Food</h1>
  <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT" method="POST">
    <label for="name">Food:</label>
    <input type="text" name="name" id="name" value="<%= food.name %>">
    <label for="recipe">Recipe:</label>
    <input type="text" name="recipe" id="recipe" value="<%= food.recipe %>">
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients" value="<%= food.ingredients %>">
    <button type="submit">Update Food</button>
  </form>
</body>